python-ws/.metadata
__pycache__
*.ncb
*.sln
*.suo
*.vcproj
*.user
*.o
*.exe
*Debug
*Release
*.native
*.byte
_build
*.tar.gz
solutions
log_*
*.log
*.html
*.vs
*.nbt
manipulator/temp
Solver/solver
nanovisu/nanovisu
nanovisu/imgui.ini
*.ini